
.toolbar-button1 {
    float: right;
    margin-top: -65px;
    margin-right: 60px;
}
.bottom-toolbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #7c7c7c; 
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.toolbar-button-main {
    padding: 10px 20px;
    background-color: #afafaf00; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.toolbar-button:hover {
    background-color: #777; 
}
.toolbar-button {
    background-color:  #fff; /* เปลี่ยนสีพื้นหลัง */
    color: #fff; /* เปลี่ยนสีของตัวอักษร */
    border: none; /* ลบเส้นขอบ */
    border-radius: 80px; /* ปรับรูปร่างเป็นวงกลม */
    padding: 8px 15px; /* ปรับขนาดการเรียงตำแหน่งของข้อความภายในปุ่ม */
    cursor: pointer; /* เปลี่ยนเป็นเคอร์เซอร์เมื่อชี้ */
}

/* สไตล์เมื่อชี้หน้าปุ่ม */
.toolbar-button:hover {
    background-color: #0f5a555a; /* เปลี่ยนสีพื้นหลังเมื่อชี้ */
}

/* สไตล์เมื่อคลิกปุ่ม */
.toolbar-button:active {
    background-color: #80000969; /* เปลี่ยนสีพื้นหลังเมื่อคลิก */
}
.content {
    position: relative; 
    z-index: 1; 
    overflow-y: auto;
    height: calc(100vh - 50px);
    padding-bottom: 100px;
}
/* styles.css */

/* สไตล์สำหรับกลุ่มขององค์ประกอบ */
.group {
    margin-bottom: 20px; /* เพิ่มระยะห่างด้านล่าง */
}

/* สไตล์สำหรับป้ายชื่อ */
.label {
    display: block; /* แสดงเป็นบล็อก */
    margin-bottom: 5px; /* เพิ่มระยะห่างด้านล่าง */
    font-weight: bold; /* เน้นตัวหนา */
}

/* สไตล์สำหรับอินพุต */
.input {
    width: 100%; /* กว้างเต็ม */
    padding: 10px; /* เพิ่มขอบ */
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}

/* สไตล์สำหรับปุ่ม */
.button {
    width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}

/* เมื่อโฟกัส */
.input:focus {
    outline: none; /* ไม่มีเส้นขอบ */
    border-color: #4CAF50; /* สีขอบเป็นสีเขียวเมื่อโฟกัส */
}

/* สไตล์สำหรับการอัปโหลดไฟล์ */
.file-upload {
    display: block; /* แสดงเป็นบล็อก */
    background-color: #f4f4f4; /* สีพื้นหลัง */
    color: #333; /* สีตัวอักษร */
    padding: 10px; /* เพิ่มขอบ */
    border: 1px solid #ccc; /* เพิ่มขอบ */
    border-radius: 5px; /* ทำเส้นรอบโครงเรข */
    cursor: pointer; /* ปลายนิ้วเทียบ */
    text-align: center; /* จัดข้อความกลาง */
}
