/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: black; color: white }
//background-image: url('https://www.ktc.co.th/pub/media/Article/05/cinema-seats-major-cineplex-1448x543.webp'); background-size:cover; 
